doctype html
html
    head
        title schedule meeting for #{output}
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        // link(rel="stylesheet", href="/public/style.css")
        style
            include ../public/style.css

        script(type='text/javascript', src="https://code.jquery.com/jquery-3.4.1.min.js")
        
        script
            include ../public/app.js 
    body
        nav.row Welcome #{output} please schedule a time to meet with your teachers
        // p students name is #{output}      example of variable
        // p= output                         example of variable
        // <div id="snackbar"></div>
        div#snackbar
        //each n in result
        //p= result[19][8]
        //    p= n.hour                     get hour attribute of item in array
        //p= result.length

        table(class="table table-bordered")
            tr
                th hour/teacher name
                th teacher a
                th teacher b
                th teacher c
                th teacher d
                th teacher e
                th teacher f
                th teacher g
                th teacher h
            
            each n, i in result
                tr
                    if  15*(i%4) == '0'
                        -var a = 15 + i/4
                        th= a +':'+ 15*(i%4) + '0 - ' + a +':'+ parseFloat(15*(i%4) + 15)
                    else
                        if parseFloat(15*(i%4) + 15) == '60'
                            th= a +':'+ 15*(i%4) + ' - ' + parseFloat(a+1) +':'+ '00'
                        else
                            th= a +':'+ 15*(i%4) + ' - ' + a +':'+ parseFloat(15*(i%4) + 15)
                    each j in [1,2,3,4,5,6,7,8]
                        -var temp = n[j]
                        -var name = output
                        if(temp === name)
                            td(style={background: 'red', weight: 'bold'})= name
                        else if(temp !== 'available')
                            td(style={background: 'red', weight: 'bold'})
                        else
                            td
        block content